:root {
    --wb-wood: #692d02;
    --wb-dark-red: #891010;
    --wb-renosand: #a06b14;
}

.active .link_prop {
    color: var(--dark) !important;
}

.custom-control-label {
    font-weight: 400 !important;
}

#toast-container .toast-warning {
    background-color: #f89406;
}

/* for datatables */
.paginate_button {
    border-radius: 50px !important;
    font-size: 0.875rem;
}

.dataTables_info,
.dataTables_length,
.dataTables_filter {
    font-size: 0.875rem;
}

.link_disabled {
    opacity: .65;
    pointer-events: none;
}

/* for testing */
.wb-golden-btn {
    background-color: #f39c12;
}


/* for overdue alert messages */
.design_div {
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    border-radius: 10rem;
    box-shadow: 0px 0px 14px #970909;
    color: dimgrey;
}

.design_div span {
    display: inline-block;
    min-width: 66px;
    margin: 1.2rem 0.6rem;
}

.custom_spinner_icon {
    margin-left: 0.25rem;
    font-size: 13px;
}

@media (max-width: 1200px) {
    .table-responsive {
        overflow-x: auto !important;
    }

    .sticky_head {
        position: static;
    }
}

.bg_light_blue{
    background: rgba(0, 102, 255, 0.2) !important;
}
.bg_light_dark{
    background: rgba(54, 54, 54, 0.12) !important;
}